
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700;900&display=swap');

p {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

header {
    padding: 20px;
    margin: auto;
}

header h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 900;
}

h3 {
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    line-height: 55px;
}

h4 {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}

#karolinska {
    padding: 20px;
    color: #ffa726;
}

#karolinska a {
    color: #ffa726;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
}

#karolinska p {
    font-size: 25px;
    line-height: 30px;
}


.small {
    font-size: 8px;
}

.world i {
    font-size: 60px;
    padding: 7px;
    color: #ffb74d;
}

#karolinska hr {
margin: 20px;
border: 2px #ffb74d solid;
width: 50%;
}

.work i {
    font-size: 80px;
    padding: 7px;
    color: #1b5e20;
}

#arbete {
    padding: 20px;
}

#arbete h3 {
    color: #1b5e20;
}

#arbete p {
    color: #1b5e20;
    font-size: 25px;
    line-height: 30px;
}

#arbete a {
    color: #1b5e20;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
}

#old p {
    color: #880e4f;
    font-size: 25px;
    line-height: 30px;
}

#old {
    padding: 20px;
}

#old h3 {
    color: #880e4f;
}

#old i {
    font-size: 200px;
    padding: 7px;
    color: #880e4f;
}

#old a {
    color: #880e4f;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
}

footer {
    padding: 20px;
    margin: auto;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h3 {
      font-size: 28px !important;
      line-height: 30px !important;
  }
}